<!doctype html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>168 Hours</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/normalize-opentype.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-controller="ScheduleListCtrl">
        <h1>168 Hours</h1>
        <div class="background-hours">{{timeRemaining / 60}}</div>

        <p>You have <strong>{{timeRemaining / 60}}</strong> unscheduled hours per week.</p>
        <table class="activity-table">
          <tr>
            <th>Activity</th>
            <th>Hours</th>
            <th>Days per week</th>
            <th>Hours per week</th>
            <th>Category</th>
          </tr>
          <tr ng-repeat="activity in activities">
            <td>{{activity.name}}</td>
            <td>{{activity.minutes / 60}}</td>
            <td>{{activity.daysPerWeek}}</td>
            <td>{{activity.minutes / 60 * activity.daysPerWeek}}</td>
            <td>{{activity.category}}</td>
          </tr>
        </table>
        <!-- fancy formatting test
        <div class="activity-table">
            <div ng-repeat="activity in activities" class='activity-card'>
                <div class="hours-per-week">
                    {{activity.minutes / 60 * activity.daysPerWeek}}
                </div>
                <div class='activity-info'>
                    <p class='activity-name'>
                        {{activity.name}}
                    </p>
                    <p class='activity-duration'>
                        {{activity.minutes / 60}} × {{activity.daysPerWeek}}
                    </p>
                </div>
            </div>
        </div>
        -->
        <script src="js/bundle.js"></script>
    </body>
</html>